body {
  padding: 25px;
  margin: 25px;
  background-color: #c2c3c4;
  text-align: center;
}
.overall {
  text-align: center;
  display: block;
}
.overall h1 {
  display: inline-block;
}
.page-header h1 {
  text-align: center;
}
.nav1-bar {
  vertical-align: top;
  display: block;
  margin: auto;
}
.image {
  display: inline-block;
  height: 100px;
  width: 100px;
}
img {
  width: 100px;
}
.heading {
  display: block;
  margin-top: 15px;
}
.img-thumbnail {
  background-color: black;
  border: none;
  display: inline-block;
}
.row {
  display: inline-block;
  vertical-align: top;
}
.nav-pills {
  border: 1px solid #3f3f3f;
  padding: 10px;
  display: inline-flex;
}
.overall .btn-primary {
  background-color: white;
  margin: 5px;
}
.table .btn-primary {
  color: #0275d8;
  background-color: white;
}
.active {
  padding: 5px;
}
.uni {
  display: inline-block;
  margin: 10px;
}
.school {
  display: inline-block;
  margin: 10px;
}
.education {
  text-align: center;
  padding: 15px;
}
.uni {
  padding: 10px;
}
.education h3 {
  margin: auto;
}
.employment {
  width: 500px;
  padding: 10px;
  display: inline-block;
}
.academic-achievments {
  display: block;
  width: 500px;
  margin: auto;
}
.academic-achievments img {
  width: 50px;
}
.voluntary-experience {
  display: block;
}
.voluntary-experience img {
  width: 50px;
}
.media-body {
  text-align: left;
}
.panel-default-employment {
  display: inline-block;
}
div {
  display: inline-block;
}
.modal-content {
  width: 500px;
  text-align: center;
}
.engineering-achievments {
  width: 500px;
  margin: auto;
}
.col-md-3 {
  column-count: 12;
}
.dropdown {
  display: none;
}
.other-skills {
  display: block;
  margin: auto;
  width: 500px;
}
.other-skills li {
  text-align: center;
  display: list-item;
}
button {
  border-radius: 5px;
  border: 1px solid #0275d8;
  background-color: white;
  color: #0275d8;
  padding: 5px 10px;
  margin: 5px;
}
